body{
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template-areas:
    "k1 k2 k2 k3 k3"
    "k4 k5 k6 k7 k8"
    "k9 k9 k10 k10 k10"
    "k11 k12 k13 k14 k15"
    ;
}
#r1{
    border: 3px solid;
    width: 25vh;
    grid-area: k1;
}
:nth-child(2){
    border: 3px solid;
    grid-area: k2;
}
#r2{
    border: 3px solid;
    grid-area: k3;
}
:nth-child(4){
    border: 3px solid;
    grid-area: k4;
}
:nth-child(5){
    border: 3px solid;
    grid-area: k5;
}
:nth-child(6){
    border: 3px solid;
    grid-area: k6;
}
:nth-child(7){
    border: 3px solid;
    grid-area: k7;
}
:nth-child(8){
    border: 3px solid;
    grid-area: k8;
}
:nth-child(9){
    border: 3px solid;
    grid-area: k9;
}
:nth-child(10){
    border: 3px solid;
    grid-area: k10;
}
:nth-child(11){
    border: 3px solid;
    grid-area: k11;
}
:nth-child(12){
    border: 3px solid;
    grid-area: k12;
}
:nth-child(13){
    border: 3px solid;
    grid-area: k13;
}
:nth-child(14){
    border: 3px solid;
    grid-area: k14;
}
:nth-child(15){
    border: 3px solid;
    grid-area: k15;
}
@media screen and (max-width:600px){
 body{
    grid-template-areas:
    "k1 k2 k3 "
    "k4 k5 k6"
    "k7 k8 k9"
    "k10 k11 k12"
    "k13 k14 k15"
    ;
 }
}
@media screen and (max-width:320px){
    body{
       grid-template-areas:
       "k1 k2 "
       "k3 k4"
       "k5 k6"
       "k7 k8"
       "k9 k10"
       "k11 k12"
       "k13 k14"
       "k15 k15"
       ;
    }
   }